.content-login {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../public/assets/fondo-login.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

